<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="talk.about.see"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>Talk.About.See</title>

  <script type="text/javascript" src="/assets/application.js"></script>
  <link rel="stylesheet" href="/assets/application.css">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/favicon.ico">
</head>

<body>
  <div class="navbar navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Talk.About.See</a>
    </div>
  </div>
  <div class="container text-center tas-img-container">
    <div class="tas-img-panel img-rounded">
      <img id="trending-img" class="img-responsive img-rounded" alt="search term">
    </div>
  </div>
</body>

</html>
